<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.css.activiti.mapper.UserMapper">

 <select id="userLogin" resultType="User" parameterType="User">

     <!--该怎么写sql啊？-->
    /* SELECT * FROM act_id_user LEFT JOIN act_id_membership ON act_id_user.`ID_`=act_id_membership.`USER_ID_`
     WHERE PWD_='123' AND GROUP_ID_ = 'emp' AND ID_ = 'zhangsan'*/
     //动态sql






 </select>

</mapper>